<div>
  <caption></caption>
  <figure>
    <figcaption>ハードウェア接続イメージ図</figcaption>
    <img
      src="https://tutorial.chirimen.org/raspi/imgs/section0/browser.png"
      alt="LED→GPIO-26"
    />
  </figure>
  <div>
    <p>
      <input
        type="radio"
        name="自動モード"
        id="auto"
        [checked]="isAuto"
        (click)="onClickMode(true)"
      />
      <label for="auto">自動モード</label>

      <input
        type="radio"
        name="手動モード"
        id="manual"
        [checked]="!isAuto"
        (click)="onClickMode(false)"
      />
      <label for="manual">手動モード</label>
    </p>
  </div>
  <div>
    <button (click)="onClickAutoStart()" [disabled]="!isAuto">自動開始</button>
    <button (click)="onClickAutoStop()" [disabled]="!isAuto">自動停止</button>
    <button (click)="onClickManual()" [disabled]="isAuto">手動操作</button>
  </div>
</div>
